<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title or "jq for web developers" }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <main>
    <nav>
      <ul>
      {%- for link in collections.articles -%}
        <li{% if page.url.startsWith(link.url) %} class="selected"{% endif %}><a href="{{ link.url }}">{{ link.data.title }}</a></li>
      {% endfor %}
      </ul>
    </nav>
    <div class="content">
      {{ content | safe }}
    </div>
  </main>

  <footer><p>Made by <a href="https://twitter.com/rem">@rem</a></p></footer>

  <script src="/assets/js/runner.js"></script>
</body>
</html>
