@import './nord';

// vars
html {
  --font-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  --font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --img-external: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12 12' width='12' height='12'><g fill='black'><path d='M8.293 2.293L4.586 6 6 7.414l3.707-3.707L12 6V0H6z'/><path d='M10 10H2V2h2V0H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-2v2z'/></g></svg>");

  --bg: white;

  --accent: var(--nord6);
  --link: rgb(156, 39, 176);
  --link-hover: rgb(142, 36, 170);

  --text: var(--nord0);
  --heading: var(--nord2);

  --strong: black;

  --border: linear-gradient(-180deg, #a18cd1 0%, #fbc2eb 100%);
  --simple-border: var(--nord4);
  --border-image: var(--border) 6;

  @media (prefers-color-scheme: dark) {
    --strong: white;
    --bg: var(--nord0);

    --accent: var(--nord3);
    --link: var(--nord8);
    --link-hover: #30cfd0;

    --text: var(--nord4);
    --heading: var(--nord6);

    --border: linear-gradient(0deg, #537895 0%, #30cfd0 100%);
    --border-image: var(--border) 6;
  }

  &.dark {
    --strong: white;
    --bg: var(--nord0);

    --accent: var(--nord3);
    --link: var(--nord8);
    --link-hover: #30cfd0;

    --text: var(--nord4);
    --heading: var(--nord6);

    --border: linear-gradient(0deg, #537895 0%, #30cfd0 100%);
    --border-image: var(--border) 6;
  }

  background-image: var(--border);

  body {
    background: var(--bg);
    color: var(--text);
  }

  strong {
    color: var(--strong);
  }



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading);
  }

  a {
    color: var(--link);

    &:hover {
      color: var(--link-hover);
    }

    &[href^='http']:after {
      background-color: var(--link);
    }
    &:hover[href^='http']:after {
      background-color: var(--link-hover);
    }
  }

  nav a {
    color: var(--text);
    &:hover {
      background: var(--accent);
      border-radius: 2px;
      text-decoration: none;
    }
  }

  code,
  pre,
  .input {
    background: var(--accent);
  }

  pre {
    border-color: var(--simple-border);
    // border-image: var(--border-image);
  }
}

// basic resets
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

strong {
  font-weight: 600;
}

// styles
html {
  margin: 0;
  padding: 10px;
  min-height: 100%;

  @media only screen and (min-width: 700px) {
    display: flex;
  }
}

a {
  transition: color 200ms ease-out;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &[href^='http']:after {
    content: '';
    -webkit-mask-image: var(--img-external);
    mask-image: var(--img-external);
    -webkit-mask-size: contain;
    mask-size: contain;
    margin: 4px;
    height: 10px;
    width: 10px;
    display: inline-block;
  }
}

body {
  margin: 0;
  flex-grow: 1;
  font-size: 18px;
  line-height: 1.4;
  font-family: var(--font-body);
}

main {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column-reverse;
  @media only screen and (min-width: 700px) {
    flex-direction: row;
  }
  justify-content: center;

  > .content {
    padding: 0 40px;

    @media only screen and (min-width: 700px) {
      max-width: 680px;
      padding: 0 40px 400px 40px;
    }

    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }

  + footer {
    padding: 40px;

    p {
      margin: 0;
    }
  }
}

.input {
  border: 0;
  font-size: inherit;
  color: inherit;
  width: 100%;
  display: block;
}

pre {
  position: relative;
  border-width: 2px;
  border-style: solid;
  overflow: auto;
  width: 100%;
  padding: 10px;
  border-radius: 4px;

  @media only screen and (min-width: 700px) {
    border-radius: 8px;
    padding: 20px;
    margin: 0 -20px;
    border-width: 4px;
  }


  code,
  .input {
    padding: 0;
    border-radius: 0;
  }
}

li {
  margin: 12px 0;
}

code,
.input {
  font-family: var(--font-mono);

  padding: 4px;
  border-radius: 4px;
}

nav {
  font-size: 16px;
  border-top: 4px solid red;
  border-image: var(--border-image);
  padding: 40px;
  margin: 0;
  margin-top: 40px;

  @media only screen and (min-width: 700px) {
    border: 0;
    margin: 90px 0 40px 0px;
    padding: 0;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 4px 8px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 8px 0;
      position: relative;

      &.selected:before {
        content: '❯ ';
        margin-left: -16px;
        top: 4px;
        position: absolute;
      }
    }
  }
}

.run {
  font-family: var(--font-mono);
  color: var(--text);
  position: absolute;
  outline: 0;
  opacity: 0.4;
  font-size: 0.8rem;
  border: 1px solid;
  border-radius: 4px;
  padding: 2px 4px;
  background: var(--text);
  color: var(--accent);
  top: 4px;
  right: 4px;

  &:hover {
    opacity: 0.7;
  }
}
